body {
    background-color: #89986D; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #030303;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.logo {
    height: 60px;
    margin-bottom: 10px;
}

form {
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 2rem;
    border-radius: 12px;
    width: 320px;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #F6F0D7;
    border: none;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #333;
}

input::placeholder {
    color: #888;
}

label {
    margin-bottom: 5px;
}

button {
    background-color: #C5D89D; /* Light Green */
    color: #333;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #F6F0D7;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 25px 0;
    color: #000000;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1; 
    border-bottom: 1px solid #000000; 
}

.divider span {
    padding: 0 10px;
    font-size: 0.9rem;
}

.switch-link {
    display: block;
    text-align: center;
    color: #2F1AF3;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.1rem;
}