@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background: #6f97c4;
}

.calendar {
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;  
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: #999FA6;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.date:hover,
.date.active {
    background: #ff5869;
    color: #fff;
}

.date.inactive {
    color: #d2d2d2;
}

.date.inactive:hover {
    color: #fff;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #222c4d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .btn {
    display: inline-block;
    padding: 15px 25px;
    background: #fff;
    border-radius: 50px;
    font-size: 20px;
    color: #555;
    text-align: center;
    border: none;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .container form {
    position: absolute;
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height:80vh;
    overflow-y: auto;
    background: #fff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    transform: scale(0);
    transform-origin: top;
    transition: 0.8s ease-in-out;
  }
  
  .container form.show {
    transform: scale(1);
  }
  
  .container form i {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    padding: 7px;
    font-size: 18px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .container form .logo {
    text-align: center;
    margin: 10px;
  }
  
  .container form .logo h2 {
    color: #333;
  }
  
  .container form .box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .container form .box label {
    font-size: 15px;
    color: #555;
    padding-top: 10px;
  }
  
  .container form .box input,
  .container form .box textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 5px;
  }
  
  .container form .box textarea {
    resize: none;
  }
  
  .container form .submit {
    width: 100%;
    height: auto;
    padding: 10px;
    background: lawngreen;
    margin: 10px auto;
    border: none;
    text-align: center;
    font-size: 20px;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .container form legend {
    font-size: 18px;
  }

  .commute-question label {
    font-size: 18px;
  }